.ant-btn {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  border: 1.5px solid var(--green);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 6px 17px;
  height: fit-content;
}
.ant-btn.signup {
  background-color: var(--green);
  color: var(--white);
}
.ant-btn.signup:hover {
  background-color: var(--green) !important;
  border: 1.5px solid var(--green) !important;
  color: var(--white);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.ant-btn.login {
  color: var(--green);
}
.ant-btn.login:hover {
  color: var(--green) !important;
  border: 1.5px solid var(--green) !important;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.bouncingBtn {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.bouncingBtn:hover {
  background-color: #2e2e2e;
  animation: riseUp 0.2s ease-in-out 0s 1 both;
  -webkit-animation: riseUp 0.2s ease-in-out 0s 1 both;
}
.bouncingBtn.other:hover {
  background-color: #039a5b;
  animation: riseUp 0.2s ease-in-out 0s 1 both;
  -webkit-animation: riseUp 0.2s ease-in-out 0s 1 both;
}

@keyframes riseUp {
  0% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
  100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}
